table {
    margin-left: -20%;
}

.misserInfo {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

img {
    float: left;
}

.clear {
    clear: both;
}

#page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    text-align: center;
}